@import "core/resets";
@import "core/layout";
@import "core/typography";
@import "core/colors";
@import "core/utils";

@import "mixins/gradients";

@import "blocks/contact-card";
@import "blocks/description";
@import "blocks/design-rendering";
@import "blocks/feature-list";
@import "blocks/icon";
@import "blocks/software-brand";

@import "pages/index";

@import "libs/font-awesome/fontawesome";
