@import "../core/variables";

header {
  z-index: 10;

  @media (min-width: $width-constrain-main) {
    justify-content: center;
  }

  .title-wrapper {
    display: block;
    padding: 2rem;

    @media (min-height: 700px) {
      margin: auto;
    }
  }
}
