@supports (grid-gap: 1rem) {
  body {
    display: grid;
    grid-template-rows:
      40vh auto auto;
    grid-template-areas:
      'head'
      'cont'
      'foot';
  }

  header {
    grid-area: head;
  }

  main {
    grid-area: cont;
    display: grid;
  }

  footer {
    grid-area: foot;
  }
}

body {
  min-height: 100vh;
}

.section {
  &.contact {
    h2 {
      margin-bottom:  2rem;
    }
  }
}