@mixin header-2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

@mixin header-3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

@mixin header-4 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h2 {
  @include header-2;
}

h3 {
  @include header-3;
}

h4 {
  @include header-4;
}

.header-centered {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
  @include word-wrap;
}
