@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h2, h3, h4, h5, h6, p, span, small, li, a {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.header-centered {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
  @include word-wrap;
}
