@supports (grid-gap: 1rem) {
  #mainIndex {
    grid-template-areas:
      'dsgn'
      'arch'
      'cloud';
  }
  .section {
    &.design {
      grid-area: dsgn;
    }
    &.frameworks {
      grid-area: arch;
    }
    &.cloud {
      grid-area: cloud;
      .border-wrapper {
        display: grid;
        grid-template-areas:
          'desc'
          'list';
        @media (min-width: 400px) {
          grid-template-columns:
            1fr 0.3fr;
          grid-template-areas:
            'desc desc'
            'list icons';
        }
        .description-cloud {
          grid-area: desc;
        }
        .feature-list-cloud {
          grid-area: list;
        }
        .icon-group-cloud {
          display: none;

          @media (min-width: 400px) {
            display: flex;
            grid-area: icons;
            align-content: center;
            align-items: center;
            justify-content: space-around;
          }
        }
      }
    }
  }
}
