@supports (grid-gap: 1rem) {
  #mainIndex {
    grid-template-areas:
      'dsgn'
      'arch'
      'cloud'
      'contact';
  }
  .section {
    &.design {
      grid-area: dsgn;
    }
    &.frameworks {
      grid-area: arch;
    }
    &.cloud {
      grid-area: cloud;
    }
    &.contact {
      grid-area: contact;
    }
  }
}
