@import "../core/colors";
@import "../mixins/gradients";

@import "../libs/font-awesome/fontawesome";
@import "../libs/font-awesome/fa-solid";

.design-render {
  display: none;
}

@supports (grid-gap: 1rem) {
  .design-render {
    display: grid;
    align-content: start;
    grid-gap: 0.2rem;

    margin: 0 1rem 1rem 1rem;

    @media (min-width: 350px) {
      margin: 0 1.5rem 1.5rem 1.5rem;
    }

    &-wrapper {
      flex-basis: 100%;
      display: inherit;
      flex-flow: inherit;
      margin: 0 auto;  // justify self to center

      &-design {
        @media (min-width: 370px) {
          max-width: 19rem;
        }
      }
    }

    // Implement necessary styles to render the design figure as an icon
    .design-render-figure {
      @include fa-icon;
      @extend .fas;
      text-align: left;
      font-size: 1rem;
    }

    &-mobile {
      .design-render-figure:before {
        content: fa-content($fa-var-mobile-alt);
      }
      flex-basis: 20%;
      flex-shrink: 0;
      grid-template-rows:
        auto 1rem 2.3rem 0.5rem 1rem 0.5rem 1rem;
      grid-template-areas:
        'fig'
        'sec-1'
        'sec-2'
        'sec-3'
        'sec-4'
        'sec-5'
        'sec-6';
    }

    &-tablet {
      .design-render-figure:before {
        content: fa-content($fa-var-tablet-alt);
      }
      flex-basis: 30%;
      flex-grow: 1;
      grid-template-rows:
        auto 2rem 4rem 2rem;
      grid-template-areas:
        'fig   fig   fig   fig'
        'sec-1 sec-1 sec-1 sec-2'
        'sec-3 sec-3 sec-3 sec-2'
        'sec-4 sec-4 sec-5 sec-5';
    }

    &-desktop {
      .design-render-figure:before {
        content: fa-content($fa-var-desktop);
      }
      flex-basis: 100%;
      grid-template-columns: repeat(4, 1fr) 2rem 2rem;
      grid-template-rows:
        auto repeat(3, 2rem) repeat(3, 1rem);
      grid-template-areas:
        'fig   fig   fig   fig   fig   fig'
        'sec-1 sec-1 sec-1 sec-1 sec-2 sec-3'
        'sec-1 sec-1 sec-1 sec-1 sec-4 sec-5'
        'sec-1 sec-1 sec-1 sec-1 sec-6 sec-7'
        'sec-8 sec-8 sec-8 sec-8 sec-9 sec-9'
        'sec-10 sec-10 sec-10 sec-10 sec-9 sec-9'
        'sec-11 sec-11 sec-11 sec-11 sec-9 sec-9';
    }

    &-architecture {
      flex-basis: 100%;
      grid-gap: 1rem;
      grid-template-columns:
        repeat(3, 1fr);
      grid-template-rows:
        repeat(4, 2rem);
      grid-template-areas:
        'sec-fend sec-fend sec-fend label-fend'
        'sec-api  sec-api  sec-api  label-api'
        'sec-user sec-paym sec-recs label-serv'
        'sec-db1  sec-db2  sec-db3  label-dbs';
    }

    &-figure {
      grid-area: fig;
      text-align: center;
      font-size: 0.8rem;
      font-style: italic;
    }

    .label {
      align-items: center;

      &-front-end {
        grid-area: label-fend;
      }
      &-web-api {
        grid-area: label-api;
      }
      &-services {
        grid-area: label-serv;
      }
      &-databases {
        grid-area: label-dbs;
      }
    }

    .render {
      background-color: lightcoral;
      flex-basis: 100%;
      flex-grow: 1;
      &-db {
        $db-icon-border: 1px solid $bg-color;
        // Make database icons appear as cylinders
        border-radius: 50%/25%;
        border: $db-icon-border;
        &:before {
          position: relative;
          top: -1%;  // Offset circle slightly up
          width: 100%;
          height: 30%;
          border-radius: 50%;
          content: '';  // display of circle border
          border: $db-icon-border;
        }
      }

      &.color {
        &-main {
          @include grad-up-right(get-color(blue, light), get-color(green, light));
        }
        &-nav {
          background-color: get-color(orange, light);
        }
        &-content {
          background-color: get-color(purple, light)
          //@include grad-up-right(get-color(purple), get-color(orange));
        }
        &-aside {
          background-color: get-color(blue, light);
        }
      }

      &-section {
        &-one {
          grid-area: sec-1;
        }
        &-two {
          grid-area: sec-2;
        }
        &-three {
          grid-area: sec-3;
        }
        &-four {
          grid-area: sec-4;
        }
        &-five {
          grid-area: sec-5;
        }
        &-six {
          grid-area: sec-6;
        }
        &-seven {
          grid-area: sec-7;
        }
        &-eight {
          grid-area: sec-8;
        }
        &-nine {
          grid-area: sec-9;
        }
        &-ten {
          grid-area: sec-10;
        }
        &-eleven {
          grid-area: sec-11;
        }
        &-front-end {
          @include grad-up-right(get-color(yellow, dark), get-color(yellow, light));
          grid-area: sec-fend;
        }
        &-api {
          @include grad-up-right(get-color(orange, dark), get-color(orange, light));
          grid-area: sec-api;
        }
        &-user-service {
          @include grad-up-right(get-color(purple, light), get-color(white, dark));
          grid-area: sec-user;
        }
        &-payment-service {
          @include grad-up-right(get-color(purple), get-color(white, dark));
          grid-area: sec-paym;
        }
        &-recommendation-service {
          @include grad-up-right(get-color(purple, dark), get-color(white, dark));
          grid-area: sec-recs;
        }
        &-db-one {
          @include grad-up-right(get-color(blue, light), get-color(white, dark));
          grid-area: sec-db1;
        }
        &-db-two {
          @include grad-up-right(get-color(blue), get-color(white, dark));
          grid-area: sec-db2;
        }
        &-db-three {
          @include grad-up-right(get-color(blue, dark), get-color(white, dark));
          grid-area: sec-db3;
        }
      }
      &-footer {
        grid-area: ft;
      }
    }
  }
}
