@import "../core/typography";

.feature-list {
  flex-basis: 100%;

  ul {
    list-style: none;
  }

  li {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  .header-icons {
    flex-basis: 100%;
  }
}