@import "../core/typography";

.feature-list {
  flex-basis: 100%;
  h1, h2, h3, h4 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

  li {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
