@import "../core/colors";

@import "../mixins/gradients";
@import "../mixins/transformations";

.section {
  padding: 0 2rem;
  justify-content: center;

  .stripe-offset {
    max-width: 43rem;
  }

  &.design {
    @include diagonal-background(10deg, -2rem, -2rem);
    @include grad-up-right(lighten($blue, 50%), lighten($blue, 20%));
    z-index: 2;
  }

  &.frameworks {
    @include diagonal-background(-20deg, 5rem, 5rem);
    @include grad-up-right(get-color(red, light), get-color(orange, light));
    z-index: 1;
  }

  &.cloud {
    @include diagonal-background(10deg);
    @include grad-up-right(lighten($green, 40%), lighten($green, 20%));
    z-index: 2;
  }
}