@import "../core/colors";

@import "../mixins/gradients";

.section {
  padding: 4rem 2rem;
  justify-content: center;

  .border-wrapper {
    max-width: 43rem;
  }

  &.design {
    padding-bottom: 6rem;
    z-index: 2;
    @include grad-up-right(get-color(red, light), get-color(orange, light));
    transform: skew(0, 10deg);
    .border-wrapper {
      transform: skew(0, -10deg);
    }
  }

  &.frameworks {
    padding-top: 11rem;
    padding-bottom: 10rem;
    @include grad-up-right(lighten($blue, 50%), lighten($blue, 20%));
    transform: skew(0, -20deg);
    z-index: 1;
    .border-wrapper {
      transform: skew(0, 20deg);
    }
  }

  &.cloud {
    padding-bottom: 8rem;
    padding-top: 6rem;
    @include grad-up-right(lighten($green, 40%), lighten($green, 20%));
    transform: skew(0, 10deg);
    z-index: 2;
    .border-wrapper {
      transform: skew(0, -10deg);
    }
  }
}