@import "../mixins/utils";

.software-brand {
  align-items: center;
  flex-basis: 100%;
  margin-bottom: 1rem;

  &-icon {
    font-size: 3rem;
    flex: 0 0 4rem;  // Icons should be fixed width
    margin: 0 1rem 0 0;
  }

  &-description {
    align-content: center;
    flex: 1 1 100%;

    @media (min-width: 500px) {
      flex-basis: 50%;
    }

    h3, small {
      flex-basis: 100%;

    }

    small {
      margin-bottom: 0.5rem;
    }
  }
}
