.software-brand {
  flex-basis: 100%;
  margin-bottom: 1rem;

  &-img-wrapper {
    align-items: center;

    &.left {
      margin: 1rem 1rem 1rem 0;
    }
    &.center {
      margin: 0 0 1rem 0;
    }

    img {
      width: 100%;
    }
  }

  &-description {
    align-content: center;
    flex: 1 1 50%;

    h3 {
      margin-bottom: 0.5rem;
    }
  }
}

.img-sm {
  flex: 0 0 20%;
}

.img-med {
  flex: 0 0 50%;
}

.img-lg {
  flex: 0 0 100%;
}

.brand-image {
  &-docker {
    width: 100%;
  }
}
